.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 5.625rem calc((100% - 49.4375rem) / 2);
}

.cabecalho h2{
    color: var(--corDestaque);
    font-weight: 600;
    font-size: 1rem;
}

.cabecalho h3{
    color: var(--corDestaque2);
    font-weight: 600;
    font-size: 3rem;
}

.cabecalho p{
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
}

.menuAberto{
    padding-top: 17rem;
}

@media screen and (max-width: 425px){
    .cabecalho p{
        text-align: left;
    }
}
