.depoimentos{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--corBackground2);
    max-width: 84rem;
    padding: 4rem;
    margin: 0 auto;
}

.depoimentos h2{
    color: var(--corDestaque);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.depoimentos__depoimento{
    color: var(--corDestaque2);
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    text-align: center;
    padding-bottom: 2rem;
}

.depoimentos__nome{
    color: var(--corDestaque2);
    font-weight: 500;
    padding: 1rem 0 0.25rem 0;
}

.depoimentos__cargo{
    font-size: 0.875rem;
    font-weight: 400;
}
