header{
    height: 5rem;
    margin-top: 1rem;
}

.header__1024mais{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 calc((100% - 84rem)/2);
}

.header__1024menos{
    display: none;
}

.header__logo{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:0.5rem;
}

.header__logo h1{
    color:var(--corLogo);
    font-weight:500;
    font-size:1.125rem;
}

header nav{
    margin-right: auto;
    margin-left:8rem;
}

header nav ul{
    display:flex;
    flex-direction:row;
    gap:2.5rem;
}

header nav ul li{
    list-style-type:none;
}

header nav ul li a{
    text-decoration:none;
    color: var(--corPrincipal);
    font-weight:500;
    text-transform: capitalize;
}

.header__entrar{
    display:flex;
    flex-direction:row;
    gap:0.75rem;
}

#btnEntrar, #btnCadastrar{
    font-weight:500;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.625rem 1.125rem;
}

#btnEntrar{
    background: none;
    border: none;
    color: var(--corPrincipal);
}

#btnCadastrar{
    background:var(--corDestaque);
    color:white;
    border: 1px solid var(--corDestaque);
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.desativado{
    display:none;
}

.ativo{
    display:block;
}

@media screen and (max-width: 1023px){
    header{
        height: 5rem;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .header__1024mais{
        display: none;
    }

    .header__1024menos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100vw;
        height: 3rem;
        padding: 0 calc((100% - 768px) / 2);
    }

    .menuMobile{
        displa: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        background: var(--corBackground2);
        margin:0;
        padding: 0 0.5rem 0.5rem 1rem;
        width: 10rem;
        top: 2.5rem;
        left: calc(100% - 10rem);
    }

    .menuNavMobile{
        width:100%;
        display: inline;
    }

    .menuNavMobile ul{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .header__entrar{
        margin-top: 2rem;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 425px){
    .header__1024menos{
        width: 100vw;
        padding: 0;
    }
}
