.vagasAbertas{
    padding: 0 calc((100% - 84rem) / 2);
    margin: 12rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagasAbertas h2{
    color: var(--corDestaque);
    corBackground: var(--corBackground);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.vagasAbertas h3{
    color: var(--corDestaque2);
    font-size: 2.25rem;
    font-weight: 600;
    padding: 1rem 0 1.25rem 0;
}

.vagasAbertas h4{
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 4rem;
}

.vagasAbertas img{
    width: 100%;
    margin-bottom: 4rem;
}

@media screen and (max-width: 425px){
    .vagasAbertas h3{
        padding: 1rem calc((100% - 20rem) / 2);
    }

    .vagasAbertas h4{
        padding-left: calc((100% - 20rem) / 2);
        padding-right: calc((100% - 20rem) / 2);
    }
}
